*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.ippp {
  width: 90%;
  margin: auto;
}

.ipp {
  height: 40%;
}
.ip {
  margin: auto;
  background: #F5F7F9;
  width: 30%;
  padding: 20px;
}
.ip p {
  font-size: 22px;
}
