/* Обнуление отступов страницы */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Основа */
body {
    background-color: var(--background);
}
p {
	font-family: 'Roboto';
	text-align: center;
	font-weight: 600;
	font-size: 16px;
  color: var(--color);
  line-height: 24px;
  letter-spacing: 0.4px;
}
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: var(--color);
  font-size: 16px;
}
hr {
  margin: 0 auto;
  display: block; 
  width: 98%;
}

/* Шрифт*/
.sh1 {
  font-size: 18px;
}
.sh2 {
  font-size: 20px;
}
.sh3 {
  font-size: 22px;
}
.sh4 {
  font-size: 24px;
}
.sh5 {
  font-size: 26px;
}

/* Линия */
.ln {
  border: 1px solid;
  border-color: #4c75a3;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.lin1 {
  width: 97%;
}
.lin2 {
  width: 96%;
}
.lin3 {
  width: 80%;
}
.lin4 {
  width: 50%;
}
.lin5 {
  width: 92%;
}

/* Панель */
.hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ссылка имя */
.hdr-name {
}
/* элемент ссылки */
.name {
}
/* ссылка сердечко */
.hdr-like {
  margin-right: 5px;
  margin-top: 5px;
}
.name {
  width: 100%;
  padding-left: 60px;
  font-size: 28px;
  font-family: 'Caveat', cursive;
}  
.favorite{
} 
.hdr1 {
	text-align: center;
	background-color: #4c75a3;
	color: var(--color);
	height: 0.45in;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
	align-items: center;
}
/* ссылка инфо */
.hdr1-info {
}
/* ссылка команда */
.hdr1-team {
}
/* ссылка проекты */
.hdr1-project {
}
.hdr1 a {
  font-size: 28px;
	font-family: 'Caveat', cursive;
}
.main {
    color: #26fc42;
}

/* Нижняя панель */
.niz {
  background-color: var(--color_niz);
}
.niz p {
  text-align: center;
  font-family: 'Balsamiq Sans';
  font-size: 16px;
  color: #000000;
}
.niz a {
  font-family: 'Balsamiq Sans';
  font-size: 16px;
  color: #000000;
}

/* Тема сайта */
/*
background - фон страницы
color - цвет шрифта
color_ikonka - фон иконки
color_niz - фон низа сайта
*/
.tema1 {
  --background: #F5F7F9;
  --color: #000000;
  --color_ikonka: #3e4042;
  --color_niz: #8e9194;
}

.tema2 {
  --background: #3e4042;
  --color: #ffffff;
  --color_ikonka: #F5F7F9;
  --color_niz: #d5d8db;
}

/* 2 картинки в строку */
.cards {
  margin: 0px 0px 45px 0px;
}
.cards__row{
  margin: 0px -15px -45px -15px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.cards__image {
  overflow: hidden;
  position: relative;
  padding-bottom: 340px;
  width: 550px;
}
/* Картинка */
.cards__image img{
  width: 90%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/*Вставка фото */
.phot {
  width: 12%;
  height: 12%;
  float: left;
  margin: 10px 10px 10px 10px;
}

/* Содержание */
.widget {
  text-align: center;
  font-family: 'Caveat', cursive;
}
.widget-title {
  letter-spacing: 2px;
  font-size: 28px;
  color: var(--color);
}
.widget-list a {
  font-size: 22px;
}
.widget-list a: before {
  content: "\2014";
  margin-right: 14px;
}
.widget-list a {
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  font-weight: 300;
  transition: .3s linear;
}

/*Рамки*/
.ramka { 
  width: 95%; /* Ширина */
  margin: auto;
  padding: 0in;
  border-radius: 0.10in;
}
.ramka a { 
  font-size: 0.18in;
  font-family: 'Balsamiq Sans';
}
.ramka p {
  font-size: 0.16in;
  line-height: 0.2in;
  text-align: left;
  margin: 0.25in;
}
.ramka b {
  font-size: 18px;
  text-align: left;
  margin: 0in;
  line-height: 0.2in;
}

/*Рамка - зеленая*/
.zel { 
  background: #e4f5e7;
  border: 0.020in solid #59805f;
}
.zel a { 
  color: #0d2110;
}
.zel p {
  color: #2f5235;
}
.zel b {
  color: #2f5235;
}
/*Рамка - красная*/
.krasn { 
  background: #f5e4e4;
  border: 0.020in solid #805959;
}
.krasn a { 
  color: #210d0d;
}
.krasn p {
  color: #522f2f;
}
.krasn b {
  color: #522f2f;
}
/*Рамка - голубая*/
.gol { 
  background: #e4f5f5;
  border: 0.020in solid #598080;
}
.gol a { 
  color: #0d2120;
}
.gol p {
  color: #2f5252;
}
.gol b {
  color: #2f5252;
}

/*Специальная рамка - */
.sp { 
  background: #ede4f5;
  border: 0.020in solid #6f5980;
}
.sp a { 
  color: #170d21;
}
.sp p {
  color: #3e2f52;
}
.sp b {
  color: #3e2f52;
}

/* Таблица */
.tbsa {
  text-align: center;
  margin: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  border: 4px solid;
  background: #384566;
  font-size: 16px;
  width: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tbsa th, .tbsa td {
  border-bottom: 1px solid #37B5A5;
}
.tbsa th {
  color: #EDB749;
  padding: 12px 17px;
}
.tbsa td {
  color: #f5f7f7;
  border-right: 1px solid #37B5A5;
  padding: 7px 17px;
}
.tbsa td:first-child {
  width: 15%;
}
.tbsa tr:last-child td {
  border-bottom: none;
}
.tbsa td:last-child {
  border-right: none;
}

/* FAQ */
/* скрываем чекбоксы и блоки с содержанием */
.hide {
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted #3e2f52;
    padding: 0;
    color: #3e2f52;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: #3e2f52;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}

/* demo контейнер */
.demo {
    margin: 20px 20px;
}