.blocks {
	width: 100%;
}
.blocks__info {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
}
.blocks__item {
	width: 100%;
	padding: 15px;
    cursor: default;
    border-radius: 10px;
    background: var(--block_background);
}

@media screen and (max-width: 960px) {
	.blocks__info {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 780px) {
	.blocks__info {
		grid-template-columns: 1fr;
	}
}

.blocks__item:hover {
	background: var(--block_background-hover);
}

.blocks__item h3 {
	font-size: 24px;
    width: 100%;
    text-align: center;
    margin: 0 0 6px 0;
    padding: 0 0 12px 0;
    color: var(--block_color);
    border-bottom: 3px solid rgb(60, 60, 60);
}
.blocks__item .blocks__item_price {
	font-size: 36px;
	padding: 25px 0 19px 0;
	color: var(--block_color-price);
	text-align: center;
	font-weight: 500;
}
.blocks__item .blocks__item_price span {
	font-size: 21px;
	font-weight: 400;
}
.blocks__item .blocks__item_status {
	font-weight: bold;
	color: var(--block_color);
	text-align: center;
}
.blocks__item ul {
	margin: 0;
	padding: 16px 20px 20px 20px;
	text-align: left;
}
.blocks__item li {
}
.blocks__item button {
	font-weight: bold;
    margin-top: auto;
    padding: 12px 32px 12px 32px;
    border-radius: 5px;
    background: var(--block_background_button);
    width: 100%;
    border: none;
    color: #000;
}