.center {
	margin: auto;
	width: 728px;
}
.iframe {
	background: var(--donate_background);
	padding: 5px;
	margin-top: 3px;
}
.iframe p {
	color: var(--donate_color);
	font-size: 16px;
	font-family: Museo,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.iframe_one {
	border-radius: 10px 10px 0 0;
	margin-bottom: 3px;
}
.iframe_two {
	border-radius: 0 0 10px 10px;
}
.widget {
	border-radius: 0px;
}
.iframe_color {
	background: #fff;
	height: 200px;
}