/* Заголовок */
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
	width: 100%;
	list-style: none;
	text-align: center;
	background: var(--header_background);
	position: fixed;
	left: 0;
	padding: 10px 0 5px;
    margin-bottom: 10px;
    z-index: 2;
}
.menu-main li {
	display: inline-block;
	margin: 0;
}
.menu-main li:after {
	content: "|";
	color: #606060;
	display: inline-block;
	vertical-align:top;
}
.menu-main li:last-child:after {
	content: none;
}
.menu-main a {
	text-decoration: none;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 2px;
	position: relative;
	padding-bottom: 10px;
	margin: 0 34px 0 30px;
	font-size: 17px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .2s;
}
.menu-main a, .menu-main a:visited {
	color: var(--header_color);
}
.menu-main a.current, .menu-main a:hover{
	color: #FF8C00;
}
.menu-main a:before, .menu-main a:after {
	content: "";
	position: absolute;
	height: 4px;
	top: auto;
	right: 50%;
	bottom: -5px;
	left: 50%;
	background: #FF8C00;
	transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {
	left: 0;
}
.menu-main a:hover:after, .menu-main .current:after {
	right: 0;
}   
@media (max-width: 550px) {
	.menu-main {
		padding-top: 0;
	}
	.menu-main li {
		display: block;
		text-align: center;
	}
	.menu-main li:after {
		content: none;
	}
	.menu-main a {
		padding: 15px 0 10px; 
		margin: 0 30px;
	}
}

/* Конец */

.end {
	background: var(--header_background);
	width: 100%;
	text-align: center;
	position: fixed;
	left: 0; 
	bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
	margin-top: 10px;
}
.end a, .end p {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 18px;
	color: var(--header_color);
	font-weight: 500;
}
.br {
	height: 80px;
}