/* Блоки по 3 в ряд */
/*  */

/* Общий класс */
.cards-section {
	padding-top: 0px;
	padding-bottom: 10px;
}
/* Контейнер, общий */
.container {
	width: 100%;
}
/* Общий див - задаёт ширину, выравнивание по центру */
.cards-section .cards-wrapper {
	max-width: 860px;
	margin-left: auto;
	margin-right: auto;
}
/* Класс блока для дива - общие параметры рамки и позиционирования */
.cards-section .item-inner {
	padding: 30px 30px;
	background: #e6e8eb;
	position: relative;
	border: 2px solid #5c87b8;
	border-radius: 50px;
	background-clip: padding-box;
}
/* Рамка блока */
.cards-section .item-panel .item-inner {
	border-top: 4px solid #5c87b8;
}
/* Размер логотипа в блоке */
.cards-section .item .icon {
	font-size: 36px;
}
/* Размер логотипа в блоке + особой цвет выделенного блока */
.items-panel-color {
	font-size: 36px;
}
/* Жирное название блока */
.cards-section .item .title {
	font-size: 16px;
	font-weight: 600;
}
/* Особый цвет */
.cards_color {
	color: #FF8C00;
}
/* Размеры одного блока и позиционирование */
.col-md-4 {
	padding-bottom: 15px;
	padding-top: 15px;
	width: 33.33333333%;
}
/* Название блока */
.cards-section .title {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 600;
}
/* Прочие настройки, включая ссылку блока, эффект наведения и прочее */
.cards-section .item-inner .link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url("../images/empty.gif");
}
.cards-section .item-inner:hover {
	background: #ced1d6;
}
.cards-section .item-panel .item-inner:hover .title {
	color: #5c87b8;
}
.cards-section .item-panel .icon {
	color: #5c87b8;
}
.cards-section .intro {
	margin: 0 auto;
	max-width: 800px;
	margin-bottom: 60px;
	color: #616670;
}
.cards-section .item .icon-holder {
	margin-bottom: 15px;
}
.cards-section .item .intro {
	margin-bottom: 15px;
}

/* Размеры блоков */
.cards-h1 {
	height: 290px;
}
.cards-h2 {
	height: 435px;
}
.cards-h3 {
	height: 195px;
}
.cards-h4 {
	height: 275px;
}
.cards-h5 {
	height: 545px;
}
.cards-h6 {
	height: 355px;
}