body {
   background: #edeef0;
}

.login {
   position: relative;
   background: #000;
}
.login .auth {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 420px;
}
.login .auth .block {
   background: #fff;
   font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
   padding: 25px;
}
.login .auth .block .form {}
.login .auth .block .form h3 {
   text-align: center;
   margin-bottom: 1px;
   font-size: 19px;
   line-height: 27px;
}
.login .auth .block .form div {
   text-align: center;
   margin-bottom: 13px;
   font-size: 13px;
   line-height: 17px;
}
.login .auth .block .form .p {
   background: #ffecec;
   width: 370px;
   margin-bottom: 15px;
   padding: 8px 12px 8px 14px;
   border-radius: 3px;
   border: 1px solid #d3d9de;
   font-size: 14px;
   display: none;
}
.login .auth .block .form form input,
.login .auth .block .form button {
   width: 370px;
   margin-bottom: 15px;
   padding: 6px 12px 8px;
   border-radius: 3px;
   border: 1px solid #d3d9de;
   font-size: 14px;
}
.login .auth .block .form form input{}
.login .auth .block .form button {
   cursor: pointer;
}
.login .auth .block .form button:hover {
   cursor: pointer;
   background: #bac9d6;
}

.login .auth .block .form .photo {
   text-align: center;
}

.login .auth .block div *:last-child {
   margin-bottom: 0px;
}

.login .auth .stage1 {}
.login .auth .stage2 {}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}
input[type="number"]:hover, input[type="number"]:focus {
   -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}