.light {
	/* Общие стили страницы*/
	--background: #edeef0;
	/* Заголовок */
	--header_background: #fff;
	--header_color: #636363;
	/* Профиль */
	--profile_background: #d4d6d9;
	--profile_background_i: #fff;
	--profile_background_button: #e5ebf1;
	--profile_color_button: #2a5885;
	--profile_color_p: #828282;
	--profile_background_hr: #000;
	/* Пожертвования */
	--donate_background: #d4d6d9;
	--donate_color: #000;
	/* Контент проектов */
	--project_color_p: #000;
	/* Блоки с контентом */
	--block_background: #d4d6d9;
	--block_background-hover: #ababab;
	--block_color: #000;
	--block_color-price: #E06060;
	--block_background_button: #E06060;
	/* Правовая информация */
	--legal_border: #848484;
	--background_terms: #dedede;
}

.dark {
	/* Общие стили страницы*/
	--background: #3e4042;
	/* Заголовок */
	--header_background: #000;
	--header_color: #deddde;
	/* Профиль */
	--profile_background: #000;
	--profile_background_i: #3e4042;
	--profile_background_button: #000;
	--profile_color_button: #deddde;
	--profile_color_p: #deddde;
	--profile_background_hr: #fff;
	/* Пожертвования */
	--donate_background: #797979;
	--donate_color: #deddde;
	/* Контент проектов */
	--project_color_p: #fff;
	/* Блоки с контентом */
	--block_background: #1F1F1F;
	--block_background-hover: #141315;
	--block_color: #fff;
	--block_color-price: #E06060;
	--block_background_button: #BD3C3C;
	/* Правовая информация */
	--legal_border: #e7e8ec;
	--background_terms: #fff;
}